[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][12]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=-1
layoutId=
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][12][Applets][100]
immutability=1
plugin=org.kde.plasma.battery

[Containments][12][Applets][100][Configuration]
PreloadWeight=0

[Containments][12][Applets][41]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][12][Applets][41][Configuration]
PreloadWeight=0

[Containments][12][Applets][42]
immutability=1
plugin=org.kde.plasma.volume

[Containments][12][Applets][42][Configuration]
PreloadWeight=12

[Containments][12][Applets][44]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][12][Applets][44][Configuration]
PreloadWeight=0

[Containments][12][Applets][45]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][12][Applets][45][Configuration]
PreloadWeight=0

[Containments][12][Applets][46]
immutability=1
plugin=org.kde.kdeconnect

[Containments][12][Applets][46][Configuration]
PreloadWeight=0

[Containments][12][Applets][48]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][12][Applets][48][Configuration]
PreloadWeight=47

[Containments][12][Applets][49]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][12][Applets][49][Configuration]
PreloadWeight=0

[Containments][12][Applets][50]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][12][Applets][50][Configuration]
PreloadWeight=0

[Containments][12][Applets][81]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][12][Applets][81][Configuration]
PreloadWeight=0

[Containments][12][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.plasma.clipboard,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.clipboard,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol

[Containments][14]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][14][Applets][102]
immutability=1
plugin=com.bundito.uptimer

[Containments][14][Applets][102][Configuration]
PreloadWeight=10

[Containments][14][Applets][102][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][53]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][14][Applets][53][Configuration]
PreloadWeight=92
SystrayContainmentId=12

[Containments][14][Applets][55]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][14][Applets][55][Configuration]
PreloadWeight=0

[Containments][14][ConfigDialog]
DialogHeight=669
DialogWidth=539

[Containments][14][Configuration]
PreloadWeight=0

[Containments][14][General]
advanced=false
appletOrder=102;55;53
autoDecreaseIconSize=false
iconSize=20
inConfigureAppletsMode=true
panelPosition=10
panelShadows=false
panelSize=100
shadowOpacity=55
shadowSize=40
shrinkThickMargins=true
splitterPosition=0
splitterPosition2=3
zoomLevel=0

[Containments][14][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][90]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=3
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=5
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][90][Applets][101]
immutability=1
plugin=menu11

[Containments][90][Applets][101][Configuration]
PreloadWeight=94

[Containments][90][Applets][101][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][90][Applets][101][Configuration][General]
favoriteSystemActions=logout
favoritesPortedToKAstats=true

[Containments][90][Applets][103]
immutability=1
plugin=org.kde.plasma.compact-shutdown

[Containments][90][Applets][103][Configuration]
PreloadWeight=43

[Containments][90][Applets][103][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][90][Applets][91]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][90][Applets][91][Configuration]
PreloadWeight=0

[Containments][90][Applets][91][Configuration][General]
isInLatteDock=true
launchers59=applications:vivaldi-stable.desktop,applications:org.kde.dolphin.desktop,applications:org.kde.konsole.desktop,applications:org.kde.ksysguard.desktop

[Containments][90][Applets][95]
immutability=1
plugin=org.kde.plasma.userswitcher

[Containments][90][Applets][95][Configuration]
PreloadWeight=0

[Containments][90][Applets][95][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][90][Applets][95][Configuration][General]
showFace=true
showName=false

[Containments][90][Applets][96]
immutability=1
plugin=org.kde.plasma.showdesktop

[Containments][90][Applets][96][Configuration]
PreloadWeight=0

[Containments][90][Applets][97]
immutability=1
plugin=org.kde.plasma.trash

[Containments][90][Applets][97][Configuration]
PreloadWeight=0

[Containments][90][ConfigDialog]
DialogHeight=712
DialogWidth=539

[Containments][90][Configuration]
PreloadWeight=0

[Containments][90][General]
appletOrder=91;97;101;103;96;95
iconSize=40
inConfigureAppletsMode=true
panelPosition=10
panelShadows=false
panelSize=100
splitterPosition=1
splitterPosition2=2
zoomLevel=0

[Containments][90][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[LayoutSettings]
activities=
background=
color=red
lastUsedActivity=9066e038-8253-4b8d-ae57-d3aa1a7ae4fb
launchers=
preferredForShortcutsTouched=false
showInMenu=false
textColor=fcfcfc
version=2
